.registerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #e9edf5;
	color: #535e72;

	.registerWallpapper {
		padding: 30px 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 15px;
		background-color: white;
		border-radius: 18px;
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

		a {
			font-weight: bold;
			color: #664de5;
		}

		.registerChatName {
			font-size: 20px;
			font-weight: bold;
			color: #070b10;
		}

		.registerForm {
			max-width: 250px;
			display: flex;
			flex-direction: column;
			gap: 10px;

			input {
				position: relative;
				padding: 10px;
				border-bottom: #ebeff6 solid 1px;
				transition: all 0.4s ease;
				width: 250px;
			}

			input:focus {
				border-bottom: #664de5 solid 1px;
			}


			input::placeholder {
				color: #a2abc1;
			}


			label {
				span {
					margin-left: 5px;
				}
			}

			button {
				padding: 15px;
				border-radius: 10px;
				background-color: #664de5;
				color: white;
			}

			button:disabled {
				background-color: #927ff1;
			}

			button:disabled:hover {
				background-color: #927ff1;
			}

			button:hover {
				background-color: #513db8;
			}

			.avatarLabel {
				padding: 10px;
				color: #664de5;
			}

		}
	}
}

.avatar {
	display: none;
}


.home {
	height: 100vh;
	background-color: #927ff1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 65%;
	height: 80%;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
}

.sidebar {
	flex: 0.9;
	background-color: #001837;

	.navbar {
		height: 60px;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;

		.logo {
			font-weight: bold;
			cursor: default;
		}

		.user {
			display: flex;
			align-items: center;
			gap: 10px;

			img {
				height: 37px;
				width: 37px;
				border-radius: 50%;
				object-fit: cover;
			}

			button {
				border-radius: 5px;
				height: 24px;
				padding: 0 5px;
				background-color: #927ff1;
				color: #fff
			}
		}
	}

	.search {
		border-bottom: solid 1px #927ff1;
		;

		.searchForm {
			padding: 10px;

			input {
				color: #fff;
				width: 100%;
				background-color: transparent;

				&::placeholder {
					color: lightgray;
				}

				&:focus::placeholder {
					color: transparent;
				}
			}
		}
	}

	.userChat {
		padding: 10px;
		display: flex;
		align-items: center;
		gap: 10px;
		color: #fff;

		&:hover {
			background-color: #002049;
			cursor: pointer;
		}

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
		}

		.chatInfo {
			span {
				font-size: 18px;
				font-weight: 500;
			}

			p {
				font-size: 14px;
				color: #c9c9c9;
			}
		}
	}
}

.chat {
	flex: 2;
	background-color: #002049;

	.chatInfo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		height: 70px;
		background-color: #001837;
		color: #fff;

		.chatUser {
			display: flex;
			align-items: center;
			gap: 10px;

			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				object-fit: cover;
			}

			.chatUserInfo {
				display: flex;
				flex-direction: column;
				gap: 3px;
				cursor: default;

				.lastTime {
					color: #535e72
				}
			}
		}

		.chatIcons {
			display: flex;
			gap: 15px;

			svg:hover {
				color: #927ff1;
				cursor: pointer;
			}
		}
	}
}