.registerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #e9edf5;
	color: #535e72;

	.registerWallpapper {
		padding: 30px 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 15px;
		background-color: white;
		border-radius: 18px;
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

		a {
			font-weight: bold;
			color: #664de5;
		}

		.registerChatName {
			font-size: 20px;
			font-weight: bold;
			color: #070b10;
		}

		.registerForm {
			display: flex;
			flex-direction: column;
			gap: 10px;

			input {
				position: relative;
				padding: 10px;
				border-bottom: #ebeff6 solid 1px;
				transition: all 0.4s ease;
			}

			input:focus {
				border-bottom: #664de5 solid 1px;
			}


			input::placeholder {
				color: #a2abc1;
			}

			button {
				padding: 15px;
				border-radius: 10px;
				background-color: #664de5;
				color: white;
			}

			button:hover {
				background-color: #513db8;
			}

			.avatarLabel {
				padding: 10px;
				color: #664de5;
			}

		}
	}
}



.avatar {
	display: none;
}